<div class = "subtitle">Personal Information</div>
<div class="userName">{{user.name}}</div>
<div class="userLocation">{{user.location}}</div>
<div class="userOccupation">{{user.occupation}}</div>
<div class="userDescription">{{user.description}}</div>
<div class="photoView"><a href="#/photos/{{user._id}}">View the photos</a></div>

<md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Personal Information</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
    	<div class="userName">Name: {{user.name}}</div>
		<div class="userLocation">Location: {{user.location}}</div>
		<div class="userOccupation">Occupation: {{user.occupation}}</div>
		<div class="userDescription">Description: {{user.description}}</div>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start">
      <md-button><a href="#/photos/{{user._id}}">View the photos</a></md-button>
    </md-card-actions>
</md-card>